@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Yanone+Kaffeesatz:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:ital,wght@1,300&family=Yanone+Kaffeesatz:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    
}
.container{
    display: flex;

}
.sidebar{
    background-color: rgb(226, 221, 221);
    padding: 10px;
    width: 15vw;
    height: 100vh;
    
}

.sidebar nav{
    padding: 20px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.main{
    /* background-color: rgb(35, 112, 189); */
    width: 90vw;
  
    
}

.infoContainer{
    /* background-color: rebeccapurple; */
    height: 60vh;
    width: 80vW;
    margin:144px auto;
    display: flex;
    justify-content: space-around;
}

.devPic img{
    
    height: 60vh;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;

}

.buttons button{

}
.hello{
    font-size: 65px;
}
.name{
    font-size: 50px;
    font-weight: bold;
}

.about{
    font-size: 40px;
}