@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Yanone+Kaffeesatz:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:ital,wght@1,300&family=Yanone+Kaffeesatz:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    
}
.container{
    display: flex;

}
.sidebar{
    background-color: rgb(207, 201, 201);
    padding: 10px;
    width: 434px;
    height: 100vh;
    
}

.sidebar nav{
    padding: 20px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color:rgb(87, 85, 85);
}

.main{
    /* background-color: rgb(35, 112, 189); */
    width: 90vw;
    padding: 23px;
  
    
}

.infoContainer{
    /* background-color: rebeccapurple; */
    height: 58vh;
    width: 80vW;
    margin:144px auto;
    display: flex;
    justify-content: space-around;
    
    
}

.devPic img{
    
    height: 70vh;
    width: auto;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;

}

.btn{
    margin: 34px;
   
}
.btn button{
    margin: 0px 4px;
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(83, 114, 218);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;


}
.btn .btn1{
    margin: 0px;
    width: 15vw;
}
.btn-sm{
    margin: 2px 4px;
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(83, 114, 218);
    font-size: 1px4;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;


}

.btn button:hover{
    background-color: white;
    color: rgb(55, 130, 130);
}
.hello{
    font-size: 65px;
    margin: 0 20px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    margin: 0 20px;

}

.about{
    font-size: 40px;
    margin:  0 20px;

}
.moreabout{
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;


}


/* --------------Confact Form-------------- */

.contactform{
    font-family: 'Fira Sans', sans-serif;
    padding: 144px 34px 0 34px;
   




}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    /* text-align: center; */
    padding: 12px 0;
}

.contactform form div{
    padding: 10px 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    
}


#emailHelp{
    font-size: 12px;
    color: rgb(91, 56, 56);
    margin: 0 5px;

}

.contactform form div input{
    border-radius: 5px;
    width: 26vw;
    /* font-size:20px; */
    /* font-family: 'Source Code Pro', monospace; */
    margin: 6px 0 0 0;
    padding: 3px;



}


#form-check {
    flex-direction: row;
}
#form-check input{
    width:20px;
    margin: 3px 0;
}

.form-check-label{
    padding: 0 10px;
}


/* ----------Blog------------ */

.blogItem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;




}

h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
    
    
}

p{
    font-family: 'Source Code Pro', monospace;
    margin: 20px;

}
h2{
margin-left: 20px;
}
.skillContainer{
    padding: 12px;
}
.skill{
    background-color:rebeccapurple ;
    width: 265px;
    height: 6px;
    margin: 10px 0;
    border: 1px solid black;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;


}



/* .hundered{
    width: 265px;
}

.fifty{
    width: 125px;
} */


.t5{
    width: 125px;
}


@media (max-width:800px){
    *{
        /* background-color: rebeccapurple; */
    }
    .sidebar{
        transform: translate(-443px, 0px);
        position: absolute;
    }
    .infoContainer{
        flex-wrap: wrap;
    }
}

